@use 'variables.sass'
@import 'mixins.sass'
@import 'partials/homeHero.sass'
@import 'partials/headbar.sass'
@import 'partials/productCards.sass'
@import 'partials/adminNavBar.sass'

*
    padding: 0
    margin: 0
    box-sizing: border-box


main
    min-height: calc( 100vh - 79px - 190.5px )
    font-family: variables.$primary-font
    padding-top: 40px + 16px
    @media (min-width: 992px)
        padding-top: 63px + 8px

.admin-layout
    width: 100%
    height: 90vh
    padding-left: 25%
    transition: 0.4s ease-in
    &.collapsed
        padding-left: 5%
    @media (max-width: 992px)
        padding-left: 5%
        margin-top: 9vh


footer 
    border-top: solid 1px #000
    padding-top: 5vh

.social-media-footer 
    a
        i
            transition: 0.3s ease-in

.social-media-footer 
    a:hover 
        i 
            transform: scale(1.5)

.social-media-footer 
    a
        display: inline-flex
        text-decoration: none
        font-size: 30px
        width: 70px
        height: 70px
        color: #000
        justify-content: center
        align-items: center
        position: relative
        margin: 0 8px 


.btn
    +customTextButtons    

.login-form, 
.register-form,
.passwords-form
    +customForms
    padding-top: 10vh
    padding-bottom: 10vh
    input#remember
        margin-bottom: 0
        width: auto

@media (min-width: 900px)
    .passwords-form
        padding-top: 20vh


.faq 
    font-family: "Montserrat", sans-serif
    line-height: 35px
    text-transform: uppercase

.contact
    margin: 0
    padding: 80px 0
    box-sizing: border-box
    font-family: "Montserrat", sans-serif
    text-align: center
    form
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        span
            width: 45%
            display: flex
            flex-direction: column
            justify-content: flex-end
            &.message
                width: 100%
            small
                color: red
                align-self: flex-start
        input, textarea
            width: 100%
            background: none
            border: none
            outline: none
            border-bottom: 1px solid
            color: #333
            padding: 10px 6px
            font-size: 14px
            margin-bottom: 40px
        button
            margin: auto
        .is-invalid
            border-bottom: 1px solid red

.ancho-interior
    max-width: 600px
    margin: auto
    padding: 0, 20px


textarea.message
    min-width: 100%
    max-width: 100%


@media (max-width: 700px)
    .contact 
        form
            flex-direction: column
            align-items: center
            justify-content: center
            span
                width: 90%
                margin: auto
                &.message
                    width: 90%
                    margin: auto


.contact 
    h2 
        font-size: 32px
        color: #000
        margin-bottom: 40px
        text-transform: uppercase
        letter-spacing: 4px
        font-weight: 400


/*Estilos profile.php*/
.hero-profile 
    width: 100%
    height: 270px
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    background-color: #e91e633b
    background-image: url(C:\Users\Edgar\Desktop\brillo-y-sustancia\public\images\hero-profile.jpg)
    background-position: center
.hero-filter
    width: 100%
    background: #000000a1
    height: 100%
    position: absolute
    bottom: 0

.hero-profile 
    h2 
        padding-top: 15px
        text-transform: capitalize
        color: white
        position: relative

.img-profile 
    img 
        max-width: 100%
        width: 150px
        position: relative

.information
    background-color: grey

.row
    margin-right: auto
    margin-left: auto

//styles cart
.product-cart
    display: flex
    justify-content: center
.radius-none
    border-radius: 7px
.center
    display: block
    margin: 0 auto
.product
    display: flex
    flex-direction: column
    margin-bottom: 3rem
.product a
    margin: .4rem 0
.product>button, input
    margin: .4rem 0
@media (min-width: 700px)
    .product
        display: flex
        flex-direction: row
        justify-content: space-between
.form-cart
    margin-bottom: 3rem
.title
    font-size: 32px
    color: #2d3436
    margin-bottom: 40px
    margin-top: 60px
    text-transform: uppercase
    letter-spacing: 4px
    text-align: center
    font-weight: 400

.btn-danger
    color: #fff
    background-color: #dc3545
    border-color: #dc3545

.fas
    line-height: inherit

.form-control
    width: 100%
    height: inherit
@media (min-width: 700px)
    .form-control
        width: 20%
        height: inherit

.edit-profile
    input
        width: 100%
.password-container
    display: flex

.field-icon
  float: right
  margin-left: -32px
  margin-top: 17px
  position: relative
  z-index: 2
  cursor: pointer