body{
  font-style: "Montserrat";
}

img{
  width: 30%;
  margin-left: 0px;
  float: left;
}

p{
  font-size: 15px;
  color:black;
  text-align: left;
}

.linea{
  width: 100%;
  border-top: solid 1px grey;
}

.lipunt{
  width: 100%;
  border-top: dashed 1px rgb(232,29,201);
  height: 10px;
}

.producto{
  overflow: hidden;
}

.descripcion{
  position: relative;
  left:20px;
  line-height: 14px;
}

.total{
  line-height: 15px;
  background-color: rgba(232, 29, 201, 0.1);
}

.precio{
  float: left;
}

#ptotal{
  font-size: 20px;
  color:black;
  font-weight: bold;
}

.borde1{
  position: relative;
  left: 150px;
}

.borde2{
  position: relative;
  left: 210px;
}

button#btn{
  color:#fff;
  padding: 15px 30px;
  border: solid 1px #000;
  border-radius: 40px;
  transition: 0.4s linear;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 3px;
}

#cerrar{
  background-color: rgba(223,219,222,0.3);
  color: black;
  font-size: 15px;
  text-decoration: none;
  font-family: "Montserrat";
}

#volver {
  text-decoration: underline;
  font-style: italic;
  margin-left: 5px;
}
@media only screen and (min-width: 600px){
  #cerrar{
    font-size: 20px;
  }

  p{
    font-size: 20px;
}

  .descripcion{
    line-height: 25px;
}

.total{
  line-height: 22px;
}

  #ptotal{
    font-size: 25px;
  }

  .borde1{
    left: 500px;
  }

  .borde2{
    left: 590px;
  }

  button#btn{
  margin-left: 40%;
  font-size: 20px;
  }

  #volver {
    margin-left: 40%;
    font-size: 25px;
  }

}
@media only screen and (min-width: 800px){
  #cerrar{
    font-size: 25px;
  }

  p{
    font-size: 40px;
}

  .descripcion{
    line-height: 45px;
}

  #ptotal{
    font-size: 40px;
  }

.total{
  line-height: 35px;
}

  .borde1{
    left: 550px;
  }

  .borde2{
    left: 775px;
  }

  .añadir{
    width: 50%;
    font-size: 250%;
    margin-left: 300px;
  }

  #volver {
    margin-left: 40%;
    font-size: 35px;
  }
}
